{erl_opts, [debug_info]}.
{deps, [
    {jsx, "3.1.0"},
    {cowboy, "2.10.0"},
    {uuid, "2.0.6", {pkg, uuid_erl}}
]}.

{relx, [
    {release, {erlang_agent, "0.1.0"}, [agent, openai, agent_web]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{shell, [
  % {config, "config/sys.config"},
  {apps, [agent, openai, agent_web]}
]}.