[
  {agent_web, [
    {port, 8080},
    {disable_colors, true},
    {enable_colored_logging, false}
  ]},
  {agents, [
    {enable_colored_logging, false},
    {max_agents, 10}
  ]},
  {openai, [
    {enable_colored_logging, false}
  ]},
  {kernel, [
    {logger_level, info}
  ]},
  {sasl, [
    {sasl_error_logger, false}
  ]}
].